*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.card{
    width: 18rem;
    height: auto;
    border: 1px solid white;

}
.card-image{
    width:17rem;
    height: 180px;
    margin-bottom: 15px;
}
.news-item{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-text{
    font-size: 14px;
}
.btn{
    width: 50%;
}
.nav-link{
    cursor: pointer;
}
